@page "/myorders"


@inject HttpClient HttpClient
@inject NavigationManager NavigationManager


<div class="main">


@if(ordersWithStatus == null)
{
    <p>Loading...</p>
}

else if(!ordersWithStatus.Any())
{

    <h2>No orders placed</h2>

    <a class="btn btn-success"
       href="">
        Order some pizza
    </a>

}

else
{

<div class="list-group orders-list">


@foreach(var item in ordersWithStatus)
{

<div class="list-group-item">


<div>

<h5>
@item.Order.CreatedTime.ToLongDateString()
</h5>


Items:
<strong>
@item.Order.Pizzas.Count()
</strong>


<br/>


Total:
<strong>
$@item.Order.GetFormattedTotalPrice()
</strong>


</div>



<div>

Status:

<strong>
@item.StatusText
</strong>


</div>



@if(item.StatusText != "Delivered")
{

<a href="myorders/@item.Order.OrderId"
   class="btn btn-success">

Track >

</a>

}


</div>

}


</div>

}

</div>



@code {

List<OrderWithStatus> ordersWithStatus =
    new();



protected override async Task OnParametersSetAsync()
{

ordersWithStatus =
await HttpClient.GetFromJsonAsync<List<OrderWithStatus>>
(
    $"{NavigationManager.BaseUri}orders"
);

}


}